In [1]:
import mysql.connector
 
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="1ntY78-dr4n89" , 
  database = "data1050f24"
)
 
print(mydb)
 
if mydb.is_connected():
    print("CONNECTION SUCCESSFUL")

mycursor = mydb.cursor()

<mysql.connector.connection.MySQLConnection object at 0x7fb3b05a3d30>
CONNECTION SUCCESSFUL

CREATING NINE TABLES: drugs, companies, pharmacies, physicians, patients, prescriptions, adverse_interactions, alerts, pharmacy_fills, contracts

In [2]:
# drugs table

mycursor.execute("CREATE TABLE data1050F24.drugs (\
                id INT, \
                name VARCHAR(128), \
                PRIMARY KEY (name))")

In [3]:
mycursor.execute('DESCRIBE data1050F24.drugs')

for x in mycursor:
  print(x)

('id', 'int', 'YES', '', None, '')
('name', 'varchar(128)', 'NO', 'PRI', None, '')

In [4]:
# companies table

mycursor.execute("CREATE TABLE data1050F24.companies (\
                id INT, \
                name VARCHAR(128), \
                address VARCHAR(128), \
                contact_phone VARCHAR(128), \
                contact_name VARCHAR(128), \
                PRIMARY KEY (id))")

In [5]:
mycursor.execute('DESCRIBE data1050F24.companies')

for x in mycursor:
  print(x)

('id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(128)', 'YES', '', None, '')
('address', 'varchar(128)', 'YES', '', None, '')
('contact_phone', 'varchar(128)', 'YES', '', None, '')
('contact_name', 'varchar(128)', 'YES', '', None, '')

In [6]:
# pharmacies table

mycursor.execute("CREATE TABLE data1050F24.pharmacies (\
                id INT, \
                name VARCHAR(128), \
                address VARCHAR(128), \
                phone VARCHAR(128), \
                PRIMARY KEY (id))")

In [7]:
mycursor.execute('DESCRIBE data1050F24.pharmacies')

for x in mycursor:
  print(x)

('id', 'int', 'NO', 'PRI', None, '')
('name', 'varchar(128)', 'YES', '', None, '')
('address', 'varchar(128)', 'YES', '', None, '')
('phone', 'varchar(128)', 'YES', '', None, '')

In [8]:
# physicians table

mycursor.execute("CREATE TABLE data1050F24.physicians (\
                ssn VARCHAR(128), \
                name VARCHAR(128), \
                primary_specialty VARCHAR(128), \
                experience_years INT, \
                PRIMARY KEY (ssn))")

In [9]:
mycursor.execute('DESCRIBE data1050F24.physicians')

for x in mycursor:
  print(x)

('ssn', 'varchar(128)', 'NO', 'PRI', None, '')
('name', 'varchar(128)', 'YES', '', None, '')
('primary_specialty', 'varchar(128)', 'YES', '', None, '')
('experience_years', 'int', 'YES', '', None, '')

In [10]:
# patients table

mycursor.execute("CREATE TABLE data1050F24.patients (\
                ssn VARCHAR(128), \
                name VARCHAR(128), \
                address VARCHAR(128), \
                birth_date VARCHAR(128), \
                physician_id VARCHAR(128), \
                PRIMARY KEY (ssn), \
                FOREIGN KEY (physician_id) REFERENCES data1050F24.physicians(ssn))")

In [11]:
mycursor.execute('DESCRIBE data1050F24.patients')

for x in mycursor:
  print(x)

('ssn', 'varchar(128)', 'NO', 'PRI', None, '')
('name', 'varchar(128)', 'YES', '', None, '')
('address', 'varchar(128)', 'YES', '', None, '')
('birth_date', 'varchar(128)', 'YES', '', None, '')
('physician_id', 'varchar(128)', 'YES', 'MUL', None, '')

In [12]:
# prescriptions table

mycursor.execute("CREATE TABLE data1050F24.prescriptions (\
                id INT, \
                patient_id VARCHAR(128), \
                physician_id VARCHAR(128), \
                drug_name VARCHAR(128), \
                date VARCHAR(128), \
                quantity INT, \
                PRIMARY KEY (id), \
                FOREIGN KEY (patient_id) REFERENCES data1050F24.patients(ssn), \
                FOREIGN KEY (physician_id) REFERENCES data1050F24.physicians(ssn), \
                FOREIGN KEY (drug_name) REFERENCES data1050F24.drugs(name), \
                INDEX patient_and_drug_ind (patient_id, drug_name))")

In [13]:
mycursor.execute('DESCRIBE data1050F24.prescriptions')

for x in mycursor:
  print(x)

('id', 'int', 'NO', 'PRI', None, '')
('patient_id', 'varchar(128)', 'YES', 'MUL', None, '')
('physician_id', 'varchar(128)', 'YES', 'MUL', None, '')
('drug_name', 'varchar(128)', 'YES', 'MUL', None, '')
('date', 'varchar(128)', 'YES', '', None, '')
('quantity', 'int', 'YES', '', None, '')

In [14]:
# adverse_interactions table

mycursor.execute("CREATE TABLE data1050F24.adverse_reactions (\
                drug_name_1 VARCHAR(128), \
                drug_name_2 VARCHAR(128), \
                PRIMARY KEY (drug_name_1, drug_name_2), \
                FOREIGN KEY (drug_name_1) REFERENCES data1050F24.drugs(name))")

In [15]:
mycursor.execute('DESCRIBE data1050F24.adverse_reactions')

for x in mycursor:
  print(x)

('drug_name_1', 'varchar(128)', 'NO', 'PRI', None, '')
('drug_name_2', 'varchar(128)', 'NO', 'PRI', None, '')

In [16]:
# alerts table

mycursor.execute("CREATE TABLE data1050F24.alerts (\
                patient_id VARCHAR(128), \
                physician_id VARCHAR(128), \
                alert_date VARCHAR(128), \
                drug1 VARCHAR(128), \
                drug2 VARCHAR(128), \
                PRIMARY KEY (patient_id, physician_id, alert_date, drug1, drug2), \
                FOREIGN KEY (patient_id) REFERENCES data1050F24.patients(ssn), \
                FOREIGN KEY (physician_id) REFERENCES data1050F24.physicians(ssn), \
                FOREIGN KEY (patient_id, drug1) REFERENCES data1050F24.prescriptions(patient_id, drug_name), \
                FOREIGN KEY (patient_id, drug2) REFERENCES data1050F24.prescriptions(patient_id, drug_name))")

In [17]:
mycursor.execute('DESCRIBE data1050F24.alerts')

for x in mycursor:
  print(x)

('patient_id', 'varchar(128)', 'NO', 'PRI', None, '')
('physician_id', 'varchar(128)', 'NO', 'PRI', None, '')
('alert_date', 'varchar(128)', 'NO', 'PRI', None, '')
('drug1', 'varchar(128)', 'NO', 'PRI', None, '')
('drug2', 'varchar(128)', 'NO', 'PRI', None, '')

In [18]:
# pharmacy_fills table

mycursor.execute("CREATE TABLE data1050F24.pharmacy_fills (\
                pharmacy_id INT, \
                prescription_id INT, \
                date VARCHAR(128), \
                cost DECIMAL(10,2), \
                PRIMARY KEY (prescription_id, pharmacy_id), \
                FOREIGN KEY (prescription_id) REFERENCES data1050F24.prescriptions(id), \
                FOREIGN KEY (pharmacy_id) REFERENCES data1050F24.pharmacies(id))")

In [19]:
mycursor.execute('DESCRIBE data1050F24.pharmacy_fills')

for x in mycursor:
  print(x)

('pharmacy_id', 'int', 'NO', 'PRI', None, '')
('prescription_id', 'int', 'NO', 'PRI', None, '')
('date', 'varchar(128)', 'YES', '', None, '')
('cost', 'decimal(10,2)', 'YES', '', None, '')

In [20]:
# contracts table

mycursor.execute("CREATE TABLE data1050F24.contracts (\
                id INT, \
                drug_name VARCHAR(128), \
                dosage INT, \
                pharmacy_id INT, \
                company_id INT, \
                quantity INT, \
                date VARCHAR(128), \
                price DECIMAL(10,2), \
                PRIMARY KEY (id), \
                FOREIGN KEY (company_id) REFERENCES data1050F24.companies(id), \
                FOREIGN KEY (pharmacy_id) REFERENCES data1050F24.pharmacies(id), \
                FOREIGN KEY (drug_name) REFERENCES data1050F24.drugs(name))")

In [21]:
mycursor.execute('DESCRIBE data1050F24.contracts')

for x in mycursor:
  print(x)

('id', 'int', 'NO', 'PRI', None, '')
('drug_name', 'varchar(128)', 'YES', 'MUL', None, '')
('dosage', 'int', 'YES', '', None, '')
('pharmacy_id', 'int', 'YES', 'MUL', None, '')
('company_id', 'int', 'YES', 'MUL', None, '')
('quantity', 'int', 'YES', '', None, '')
('date', 'varchar(128)', 'YES', '', None, '')
('price', 'decimal(10,2)', 'YES', '', None, '')

STORED PROCEDURE

In [22]:
query = "CREATE procedure physician_info ( \
IN pid varchar(128), \
OUT specialty VARCHAR(128), \
OUT experience INT) \
BEGIN \
	SELECT primary_specialty, experience_years INTO specialty, experience \
	FROM physicians \
	WHERE physicians.ssn = pid; \
END;"

mycursor.execute(query)
mydb.commit()

TRIGGER

In [23]:
# Create trigger called adv_drug
# After inserting a new row into prescriptions
# For each new row...
# Start trigger body
# define earlier_drug 
# Place drug_name into earlier drug 
# From the prescriptions table
# Where the patient_id matches in both cases
# And drug_name is created as follows
# Choose drug_name_1
# From the adverse_interactions table
# Where the second drug name and new drug name are the same
# If there is an earlier drug and the above conditions are met
# Insert new tuple into alerts table 


# query = "CREATE TRIGGER adv_drug \
# AFTER INSERT ON prescriptions \
# FOR EACH ROW \
# BEGIN \
#     DECLARE earlier_drug VARCHAR(128); \
# 	SELECT drug_name INTO earlier_drug \
#     FROM prescriptions \
#     WHERE patient_id = NEW.patient_id \
#       AND (drug_name IN ( \
#           SELECT drug_name_1 \
#           FROM adverse_reactions \
#           WHERE drug_name_2 = NEW.drug_name \
#       ) \
#       OR drug_name IN ( \
#           SELECT drug_name_2 \
#           FROM adverse_reactions \
#           WHERE drug_name_1 = NEW.drug_name \
#       )); \
# 	IF earlier_drug IS NOT NULL THEN \
# 		INSERT INTO alerts (patient_id, physician_id, alert_date, drug1, drug2) \
#         VALUES (NEW.patient_id, NEW.physician_id, NEW.date, earlier_drug, NEW.drug_name); \
# 	END IF; \
# END;"


# CORRECT TRIGGER BELOW

query = "CREATE TRIGGER adv_drug \
AFTER INSERT ON prescriptions \
FOR EACH ROW \
BEGIN \
    INSERT IGNORE INTO alerts (patient_id, physician_id, alert_date, drug1, drug2) \
    SELECT Distinct NEW.patient_id, NEW.physician_id, NEW.date, drug_name, NEW.drug_name \
    FROM prescriptions \
    WHERE patient_id = NEW.patient_id \
      AND (drug_name IN ( \
          SELECT drug_name_1 \
          FROM adverse_reactions \
          WHERE drug_name_2 = NEW.drug_name \
      ) \
      OR drug_name IN ( \
          SELECT drug_name_2 \
          FROM adverse_reactions \
          WHERE drug_name_1 = NEW.drug_name \
      )) ; \
END;"



mycursor.execute(query)
mydb.commit()

INSERTING DATA INTO TABLES

In [24]:
#Populating the newly created tables with the appropriate data

import pandas as pd
import numpy as np

#Loading in the csv files
path = '/Users/zachescalante/Documents/Grad/DATA_1050/data/'
drugs_data = pd.read_csv(path + "drugs.csv")
companies_data = pd.read_csv(path + "companies.csv")
pharmacies_data = pd.read_csv(path + "pharmacies.csv")
physicians_data = pd.read_csv(path + "physicians.csv")
patients_data = pd.read_csv(path + "patients.csv")
prescriptions_data = pd.read_csv(path + "prescriptions.csv")
adverse_reactions_data = pd.read_csv(path + "adverse_reactions.csv")
pharmacy_fills_data = pd.read_csv(path + "pharmacy_fills.csv")
contracts_data = pd.read_csv(path + "contracts.csv")

In [25]:
for i,row in drugs_data.iterrows():
            sql = "INSERT INTO drugs VALUES (%s,%s)"
            mycursor.execute(sql, tuple(row))
            mydb.commit()

query = "SELECT * from drugs"
mycursor.execute(query)

for x in mycursor:
        print(x)

(9, 'Abnazole Toleluble')
(3, 'Avafoxin')
(5, 'Cleotrana')
(10, 'Dantopex Quixilinum')
(8, 'Divisporine Acetaclotide')
(7, 'Glucozepam Amcipentin')
(6, 'Kanulin')
(2, 'Olanzanafine')
(1, 'Primalovir')
(4, 'Quixiposide')

In [26]:
for i,row in companies_data.iterrows():
            sql = "INSERT INTO companies VALUES (%s,%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            mydb.commit()

query = "SELECT * from companies"
mycursor.execute(query)

for x in mycursor:
        print(x)

(1, 'Goodrx', '123 Main St, San Francisco, CA', '123-456-7890', 'Holly Jolly')
(2, 'PHARMASEE', '456 Elm St, New York, NY', '234-567-8901', 'Faker Maker')
(3, 'DRUGXO', '789 Maple St, Los Angeles, CA', '345-678-9012', 'Silly Putty')
(4, 'Pharmachoice', '101 Pine St, Chicago, IL', '456-789-0123', 'Connie Honey')
(5, 'Castox', '234 Oak St, Houston, TX', '567-890-1234', 'Laxmi Kant Sheth')
(6, 'Doktera', '567 Cedar St, Philadelphia, PA', '678-901-2345', 'I.P. Green')
(7, 'Lipdrugz', '890 Birch St, Phoenix, AZ', '789-012-3456', 'Boris Kotchakoff')
(8, 'Nurfarma', '123 Fir St, San Antonio, TX', '890-123-4567', 'Wu Liu')
(9, 'Munimed', '456 Redwood St, San Diego, CA', '901-234-5678', 'Kim Park')
(10, 'Arkmed', '789 Sequoia St, Dallas, TX', '012-345-6789', 'James Bond')

In [27]:
for i,row in pharmacies_data.iterrows():
            sql = "INSERT INTO pharmacies VALUES (%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            mydb.commit()

query = "SELECT * from pharmacies"
mycursor.execute(query)

for x in mycursor:
        print(x)

(1, ' Springfield Pharmacy', ' 123 Main St,  Springfield,  IL 62701', ' (217) 555-1234')
(2, ' Peachtree Meds', ' 456 Elm St,  Atlanta, GA 30303', ' (404) 555-5678')
(3, ' Lone Star Drugs', ' 789 Oak St,  Dallas, TX 75201', ' (214) 555-9101')
(4, ' Mile High Meds', ' 101 Pine St, Denver, CO80202', ' (303) 555-1121')
(5, ' Emerald City Pharmacy', ' 121 Spruce St,  Seattle,  WA 98101', ' (206) 555-1314')
(6, ' Golden Gate Drugs', ' 234 Market St, San Francisco, CA 94105', ' (415) 555-1515')
(7, ' Sunshine Pharmacy', ' 345 Palm Ave, Miami, FL 33101', ' (305) 555-1616')
(8, ' Liberty Meds', ' 567 Broadway St, New York, NY 10001', ' (212) 555-1717')
(9, ' Lakeside Drugs', ' 678 Lake Rd,  Minneapolis, MN 55401', ' (612) 555-1818')
(10, ' Desert Bloom Pharmacy', ' 890 Desert Blvd, Phoenix, AZ 85001', ' (602) 555-1919')
(11, ' Bayside Pharmacy', ' 112 Harbor Dr, San Diego, CA 92101', ' (619) 555-2020')
(12, ' Capital Meds', ' 345 Capitol St, Washington, DC 20001', ' (202) 555-2121')
(13, ' Windy City Pharmacy', ' 567 Windy Ave, Chicago, IL 60601', ' (312) 555-2222')
(14, ' Beantown Drugs', ' 890 Beacon St, Boston,  MA 02101', ' (617) 555-2323')
(15, ' Gateway Meds', ' 123 Arch St, St. Louis, MO 63101', ' (314) 555-2424')

In [28]:
for i,row in physicians_data.iterrows():
            sql = "INSERT INTO physicians VALUES (%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            mydb.commit()

query = "SELECT * from physicians"
mycursor.execute(query)

for x in mycursor:
        print(x)

('118-66-5958', 'Katz', 'Orthopedics', 3)
('156-28-1945', 'Singh', 'Orthopedics', 25)
('163-50-5535', 'Gold', 'Neurology', 8)
('230-12-3219', 'El Said', 'Psychiatry', 12)
('357-93-5814', 'Califieri', 'Cardiology', 21)
('460-35-6754', 'Kim', 'Orthopedics', 2)
('510-55-9776', 'Brandt', 'Psychiatry', 25)
('522-86-5827', 'Crick', 'Neurology', 0)
('571-13-9020', 'Mozart', 'Cardiology', 0)
('614-57-6885', 'Srinivasan', 'Cardiology', 4)
('702-16-8749', 'Wu', 'Dermatology', 10)
('718-27-0905', 'Einstein', 'Psychiatry', 29)

In [29]:
for i,row in patients_data.iterrows():
            sql = "INSERT INTO patients VALUES (%s,%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            mydb.commit()

query = "SELECT * from patients"
mycursor.execute(query)

for x in mycursor:
        print(x)

('192-33-2887', 'Jacinda Stowe', '8 Colorado Alley', '1970-04-15T00:24:26Z', '357-93-5814')
('227-08-7452', 'Bearnard Remer', '18669 Heffernan Point', '2008-01-09T05:34:30Z', '230-12-3219')
('303-13-5928', 'Krystyna Luckie', '54106 Barnett Plaza', '1950-02-11T12:20:13Z', '571-13-9020')
('360-47-2098', 'Peter Lukasen', '552 Ryan Court', '1969-01-10T19:33:03Z', '522-86-5827')
('478-34-0781', 'Florance Saiz', '7 Fair Oaks Place', '1988-11-03T23:25:38Z', '614-57-6885')
('501-47-2038', 'Elvyn Rudinger', '48 Bowman Parkway', '2006-02-28T16:26:43Z', '156-28-1945')
('631-75-6048', 'Avrom Messer', '5030 Garrison Center', '1929-02-04T06:34:10Z', '510-55-9776')
('691-21-7304', 'Myrlene Yegoshin', '2 Sunnyside Court', '2001-06-03T23:02:52Z', '460-35-6754')
('758-08-7274', 'Susanetta Petruska', '16276 Sutteridge Avenue', '1922-08-05T18:36:12Z', '118-66-5958')
('777-39-3296', 'Myron Cottem', '75875 Fulton Crossing', '1986-02-20T04:43:29Z', '718-27-0905')
('805-15-2755', 'Roxana Worster', '54 Hudson Junction', '1982-11-12T18:11:55Z', '163-50-5535')
('885-94-4721', 'Merry Di Pietro', '1 Old Shore Court', '1991-02-07T22:00:41Z', '702-16-8749')

In [30]:
for i,row in adverse_reactions_data.iterrows():
            sql = "INSERT INTO adverse_reactions VALUES (%s,%s)"
            mycursor.execute(sql, tuple(row))
            mydb.commit()

query = "SELECT * from adverse_reactions"
mycursor.execute(query)

for x in mycursor:
        print(x)

('Avafoxin', 'Kanulin')
('Cleotrana', 'Avafoxin')
('Cleotrana', 'Kanulin')
('Cleotrana', 'Quixiposide')
('Olanzanafine', 'Glucozepam Amcipentin')
('Primalovir', 'Abnazole Toleluble')
('Primalovir', 'Olanzanafine')
('Quixiposide', 'Avafoxin')
('Quixiposide', 'Dantopex Quixilinum')

In [31]:
for i,row in prescriptions_data.iterrows():
            sql = "INSERT INTO prescriptions VALUES (%s,%s,%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            mydb.commit()

query = "SELECT * from prescriptions"
mycursor.execute(query)

for x in mycursor:
        print(x)

(1, '478-34-0781', '614-57-6885', 'Avafoxin', '3/11/2023', 90)
(2, '758-08-7274', '118-66-5958', 'Cleotrana', '3/12/2023', 10)
(3, '758-08-7274', '118-66-5958', 'Primalovir', '4/11/2023', 20)
(4, '758-08-7274', '118-66-5958', 'Glucozepam Amcipentin', '5/13/2023', 12)
(5, '303-13-5928', '571-13-9020', 'Olanzanafine', '5/24/2023', 25)
(6, '303-13-5928', '571-13-9020', 'Primalovir', '5/24/2023', 16)
(7, '303-13-5928', '571-13-9020', 'Abnazole Toleluble', '5/24/2023', 5)
(8, '478-34-0781', '614-57-6885', 'Avafoxin', '6/14/2023', 60)
(9, '303-13-5928', '571-13-9020', 'Glucozepam Amcipentin', '6/22/2023', 3)
(10, '501-47-2038', '156-28-1945', 'Cleotrana', '7/18/2023', 20)
(11, '777-39-3296', '718-27-0905', 'Dantopex Quixilinum', '8/2/2023', 1)
(12, '501-47-2038', '156-28-1945', 'Cleotrana', '8/21/2023', 10)
(13, '478-34-0781', '614-57-6885', 'Avafoxin', '9/17/2023', 30)
(14, '478-34-0781', '614-57-6885', 'Quixiposide', '9/17/2023', 2)
(15, '501-47-2038', '156-28-1945', 'Avafoxin', '9/22/2023', 15)
(16, '501-47-2038', '156-28-1945', 'Kanulin', '9/22/2023', 8)

In [32]:
for i,row in pharmacy_fills_data.iterrows():
            sql = "INSERT INTO pharmacy_fills VALUES (%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            mydb.commit()

query = "SELECT * from pharmacy_fills"
mycursor.execute(query)

for x in mycursor:
        print(x)

(8, 1, '3/12/2023', Decimal('46.53'))
(1, 2, '3/12/2023', Decimal('18.00'))
(1, 3, '3/15/2023', Decimal('60.53'))
(3, 4, '5/16/2023', Decimal('41.50'))
(10, 5, '5/26/2023', Decimal('47.50'))
(7, 6, '5/24/2023', Decimal('92.10'))
(5, 7, '5/28/2023', Decimal('41.65'))
(5, 8, '6/15/2023', Decimal('94.60'))
(11, 9, '6/22/2023', Decimal('31.00'))
(2, 10, '7/22/2023', Decimal('14.55'))
(12, 11, '8/4/2023', Decimal('92.00'))
(14, 12, '8/21/2023', Decimal('42.85'))
(6, 13, '9/19/2023', Decimal('31.65'))
(7, 14, '9/19/2023', Decimal('11.00'))
(9, 15, '9/25/2023', Decimal('46.80'))
(4, 16, '9/22/2023', Decimal('42.75'))

In [33]:
for i,row in contracts_data.iterrows():
            sql = "INSERT INTO contracts VALUES (%s,%s,%s,%s,%s,%s,%s,%s)"
            mycursor.execute(sql, tuple(row))
            mydb.commit()

query = "SELECT * from contracts"
mycursor.execute(query)

for x in mycursor:
        print(x)

(1, 'Cleotrana', 50, 5, 10, 40, '10/3/2023', Decimal('100.00'))
(2, 'Primalovir', 500, 5, 10, 20, '9/26/2023', Decimal('40.50'))
(3, 'Kanulin', 1000, 4, 9, 20, '9/20/2023', Decimal('10.50'))
(4, 'Olanzanafine', 50, 6, 3, 80, '9/24/2023', Decimal('150.00'))
(5, 'Avafoxin', 5, 15, 5, 30, '9/29/2023', Decimal('18.00'))
(6, 'Quixiposide', 25, 5, 1, 30, '10/2/2023', Decimal('12.00'))
(7, 'Glucozepam Amcipentin', 20, 10, 2, 80, '9/27/2023', Decimal('145.00'))
(8, 'Divisporine Acetaclotide', 15, 12, 9, 30, '10/2/2023', Decimal('42.00'))
(9, 'Abnazole Toleluble', 30, 14, 6, 40, '9/21/2023', Decimal('45.00'))
(10, 'Dantopex Quixilinum', 100, 14, 8, 20, '9/26/2023', Decimal('20.00'))
(11, 'Olanzanafine', 50, 1, 3, 90, '9/30/2023', Decimal('160.00'))
(12, 'Olanzanafine', 75, 2, 3, 40, '9/23/2023', Decimal('60.00'))
(13, 'Olanzanafine', 75, 3, 3, 20, '9/23/2023', Decimal('35.00'))
(14, 'Glucozepam Amcipentin', 40, 8, 2, 20, '10/2/2023', Decimal('14.00'))
(15, 'Divisporine Acetaclotide', 10, 9, 9, 40, '9/28/2023', Decimal('68.00'))
(16, 'Dantopex Quixilinum', 100, 13, 8, 50, '9/30/2023', Decimal('50.00'))

In [34]:
query = "SELECT * from alerts"
mycursor.execute(query)

for x in mycursor:
        print(x)

('501-47-2038', '156-28-1945', '9/22/2023', 'Avafoxin', 'Kanulin')
('501-47-2038', '156-28-1945', '9/22/2023', 'Cleotrana', 'Avafoxin')
('501-47-2038', '156-28-1945', '9/22/2023', 'Cleotrana', 'Kanulin')
('303-13-5928', '571-13-9020', '5/24/2023', 'Olanzanafine', 'Primalovir')
('303-13-5928', '571-13-9020', '5/24/2023', 'Primalovir', 'Abnazole Toleluble')
('303-13-5928', '571-13-9020', '6/22/2023', 'Olanzanafine', 'Glucozepam Amcipentin')
('478-34-0781', '614-57-6885', '9/17/2023', 'Avafoxin', 'Quixiposide')

In [36]:
# TO COMPLETELY WIPE A TABLE
# mycursor.execute('DROP TABLE data1050F24.pharmacy_fills')
# mycursor.execute('DROP TABLE data1050f24.alerts')
# mycursor.execute('DROP TABLE data1050f24.prescriptions')
# mycursor.execute('DROP TABLE data1050f24.patients')
# mycursor.execute('DROP TABLE data1050f24.physicians')
# mycursor.execute('DROP TABLE data1050f24.adverse_reactions')
# mycursor.execute('DROP TABLE data1050f24.contracts')
# mycursor.execute('DROP TABLE data1050f24.pharmacies')
# mycursor.execute('DROP TABLE data1050f24.companies')
# mycursor.execute('DROP TABLE data1050f24.drugs')
# mydb.commit()

#TO DELETE DATA FROM A TABLE:
# mycursor.execute('DELETE FROM data1050f24.section')
# mydb.commit()

# TO DELETE A TRIGGER
# mycursor.execute('DROP TRIGGER data1050F24.adv_drug')
# mycursor.execute('DROP PROCEDURE data1050F24.physician_info')
# mydb.commit()